.header-container {
  padding: 10px;
  padding-top: 20px;
  background-color: rgb(255, 255, 255);
}

.menu-nav a {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.modal-header h5 {
  color: black;
  font-family: "Montserrat";
}

.form-control {
  width: 40%;
}

@media all and (min-width: 992px) {
  .dropdown-menu {
    display: none;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .dropdown-menu {
    margin-top: 0;
  }
}

.dropdown .account-dropdown {
  margin-top: 20px;
}

.header-mr-8px {
  margin-right: 8px;
}

.header-mr-16px {
  margin-right: 16px;
}

.header-ml-76px {
  margin-left: 76px;
}

.header-h-32px {
  height: 32px;
}

.header-btn:hover {
  cursor: pointer;
  box-shadow: 8px 8px #99bdff;
  transition: 0.3s;
}

.header-btn {
  border: 2px solid #3c73ff;
  background-color: #3c73ff;
  border-radius: 20px;
  color: #fff;
  transition: 0.3s;
}

.header-account-link {
  color: #fff;
  text-decoration: none;
}

.mb-0 {
  margin-bottom: 0;
}

.extended-dropdown::before {
  content: "";
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  height: 50px; /* Đặt chiều cao của phần kéo dài */
  background-color: rgba(0, 0, 0, 0.5); /* Đặt màu nền trong suốt */
  pointer-events: none; /* Không ảnh hưởng đến sự kiện click */
}
