/* .footer {
  padding: 10px;
  min-height: 120px;
} */

.container-fluid {
    background-color: rgb(139, 138, 138);
}

.input-group {
    width: 40%;
}

.btn {
    background-color: yellow;
}

.btn:hover {
    background-color: red;
}

.input-group img {
    width: 50%;
}

.footerform h6 {
    color: aliceblue;
}

.footerform h3 {
    color: red;
}

.footerform h5 {
    color: aliceblue;
}

.social a {
    margin-right: 10px;
}

.col-sm-15 img {
    width: 10%;
    height: 80%;
    position: relative;
    left: 50%;
}

.footer-reserved {
    position: relative;
    left: 52%;
}

.footerform a {
    text-decoration: none;
    color: black;
}

.row .col-sm-4 a:hover {
    color: red;
    opacity: 0.5s;
}